doctype html
html
  head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/angular.min.js')
        link(rel='stylesheet',href='/css/bootstrap.min.css')
    body
    block content
            .container
            form.form-signin(action="/login", method="post")
            h2.form-signin-heading Please sign in
            input.input-block-level(type="text", name="username", placeholder="Email address")
            input.input-block-level(type="password", name="password", placeholder="Password")
            label.checkbox.
                        <input type="checkbox" value="remember-me" /> Remember me
            button.btn.btn-large.btn-primary(type="submit") Sign in